* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0px; */
}

body {
    margin: auto;
    font-family: link href=
    "https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap"
    rel= "stylesheet";
     max-height: calc(100vh-80px);
    /*width: 100%;*/
    /* max-width: 1280px; */
    /*background-color: rgb(253, 240, 240); */
}
.main {
  /* border: 1px solid green; */
  font-family: link href=
  "https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap"
  rel= "stylesheet";
  background-color: rgb(253, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 1280px; */
  /* width: 100%; */
  /* margin: auto; */
  /* gap:0px; */
  /* height: 100vh; */
  /* margin-left: 200px ; */
  /* margin-right: 80px; */
  padding: 20px 40px;
  /* overflow: hidden; */
}

.productPage {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  padding: 75px;

}
h1 {
  font-weight: 900;
  font-style: normal;
  font-size: 80px;
  /* margin-bottom:40px; */
  margin-left: 150px;
}
.product {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* width: 65%; */
  gap: 50px;
  padding: 80px;
  /* width: 65%; */
  /* height: 80vh; */
}
.desserts {
  /* border: 1px solid orangered; */
  /* width: 800px; */
  /* height: 1000px; */
  display: flex;
  flex-direction: column;
  margin: 0px;
  gap: 1ch;
  /* line-height: 13ch; */
}
.imgBtn {
  /* line-height: 8ch; */
  position: relative;
  height: 800px;
  /* width:800px; */
  /* border-radius: 15px; */
  /* border: 1px solid purple; */
}

img {
  width: 350px;
  border-radius: 25px;
  /* margin-left: 50px; */
}

.addToCartBtn {
  width: 250px;
  height: 50px;
  margin-top: 32.9rem;
  margin-left: 150px;
  position: absolute;
  right: 120px;
  bottom: 300px;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
  border: 1px solid #bb4e45;
  color: #bb4e45;
  /* border: 1px solid rgb(189, 188, 188); */
  /* font-family:link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"; */
  font-weight: 800;
  font-size: 23px;
  cursor: pointer;
}

.modaldiv {
  /* border: 1px solid rgb(184, 39, 39); */
  background-color:#bb4e45;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 6 */
  margin-left: 150px;
  border-radius: 20px;
  width: 250px;
  height: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  right: 120px;
  bottom: 300px;
}

p {
  color: rgb(160, 137, 137);
  margin-bottom: 15px;
  margin-top: 40px;
  font-size: 30px;
}

.quantity {
  margin: 0 !important;
  color: white;
}

.modaldiv button{
   border: 1px solid white;
   background-color: #bb4e45;
   color:white;
   /* padding: 10px; */
   /* align-items: center; */
   font-size: 25px;
   border-radius:15px;
   width: 30px;
   height: 30px;
}


h6 {
  /* font-family:link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" ; */
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0%;
}

h5 {
  font-size: 2.5rem;
  color: rgb(163, 23, 23);
  font-weight: bolder;
  margin-top: 2%;
}

#addToCart input {
  /* font-family: link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" ; */
  color: brown;
  margin-top: 5%;
  width: 540px;
  margin-left: 1%;
  height: 80px;
  border: none;
  font-size: 50px;
}

.Cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* width: 25%; */
  /* width: 600px; */
  height: 1000px;
  /* line-height: 15ch; */
  /* margin-left: 30px; */
}

/* .cart h2{
  margin-top: 0;
} */

ul {
  /* border: 1px solid green; */
  height: 380px;
  /* display: none; */
  overflow-y: scroll;
}

.Cart p {
  font-size: 80px;
}

#order-confirm {
  background-color: #bb4e45;
  color: white;
  width: 100%;
  height: 100px;
  /* margin-top: 20px; */
  padding: 10px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  font-size: 40px;
}

#totalInput {
  width: 500px;
  height: 80px;
  font-size: 70px;
  font-weight: 900;
  border: none;
  color: #bb4e45;
}
#totalInput input {
  width: 50px;
  border: none;
  font-size: 60px;
  font-weight: 700;
  color: #bb4e45;
  text-align: center;
}
#orderTotal {
  width: 500px;
  height: 80px;
  font-size: 30px;
  font-weight: 700;
}
#orderTotal input {
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  border: none;
}

#span {
  font-size: 35px;
  color: black;
  background-color: rgb(247, 240, 240);
  border-radius: 15px;
  /* height: 70px; */
  padding: 20px;
}
span {
  font-weight: 800;
}



 @media screen and (max-width: 1024px) {
    .main{
    display: flex;
    flex-direction: column; 
    /* flex-grow: 5px; */
    justify-content: center; 
    align-items:center; 
    /* width: 80%; */
    /* padding: 0px 20px;   */
    margin:auto;
    height: auto;
}
  
  }
 .productPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0px 20px; */
  /* padding: 0px 60px; */
}
.product{
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 70%; */
  /* gap:100px; */
  /* padding-left: 80px; */
/*  height: 80vh; */

  } 

@media screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 5px;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    margin: auto;
    padding: 0px;
    /* width:auto; */
  }

  .productPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 0px 60px;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3, 1fr));

    margin: 0px px;
    padding: 0px px;
  }
}

@media screen and (max-width: 580px) {
  .main {
    display: flex;
    flex-direction: column;
    /* flex-grow: 5px; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    /* margin: 0px 10px; */
    /* padding: 0px 20px; */
  }
  .productPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0px 20px; */
    /* padding: 0px 60px; */
  }
  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0px 20px; */
    /* padding: 0px 60px; */
  }
  

}



 
   
